<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/login">Login</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ modoRegistro ? 'Registrar-se' : 'Entrar' }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="modoRegistro ? registrarUsuario() : loginUsuario()">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="usuario.email" name="email" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" [(ngModel)]="usuario.password" name="password" required></ion-input>
        </ion-item>

        <div *ngIf="modoRegistro">
          <ion-item>
            <ion-label position="floating">Nome</ion-label>
            <ion-input [(ngModel)]="usuario.name" name="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Confirmar Senha</ion-label>
            <ion-input type="password" [(ngModel)]="usuario.password_confirmation"
              name="password_confirmation"></ion-input>
          </ion-item>
        </div>

        <ion-button expand="block" type="submit">{{ modoRegistro ? 'Registrar-se' : 'Login' }}</ion-button>
      </form>

      <ion-button fill="clear" (click)="modoRegistro = !modoRegistro">
        {{ modoRegistro ? 'Já tem conta? Entrar' : 'Não tem conta? Registrar-se' }}
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>