<ion-header id="posts-header">
  <ion-toolbar color="primary">
    <ion-title>Posts</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/profile">Perfil</ion-button>
      <ion-button (click)="logout()">Sair</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="posts-content" class="custom-content ion-padding feed-container">

  <!-- Formulário de novo post -->
  <ion-card class="post-card post-form">
    <ion-card-header>
      <ion-card-title>Criar Nova Postagem</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-textarea [(ngModel)]="newPostDescription" placeholder="Escreva algo..." rows="3">
        </ion-textarea>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="newPostPicture" placeholder="Link da imagem (opcional)">
        </ion-input>
      </ion-item>

      <ion-button expand="block" (click)="createPost(newPostDescription, newPostPicture)">
        Postar
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Lista de posts -->
  <ion-card class="post-card">
    <ion-card-header>
      <ion-card-title>Feed</ion-card-title>
    </ion-card-header>

    <ion-list>

      <ion-item *ngFor="let post of posts">
        <ion-avatar slot="start">
          <img [src]="getUserColorFile(post.user.name)">
        </ion-avatar>

        <ion-label>
          <h2>{{ post.user?.name }}</h2>
          <p>{{ post.description }}</p>

          <img *ngIf="post.picture" [src]="post.picture" class="post-image">

          <p class="post-time">
            {{ getRelativeTime(post.created_at) }}
          </p>
        </ion-label>
      </ion-item>
<
    </ion-list>